<div style="display: flex; height: 100vh;">
  <!-- Parte izquierda: Select de países -->
  <div style="width: 20%; padding: 20px;">
    <h3>Selecciona un País</h3>
    <select [(ngModel)]="selectedCountry" (change)="onCountrySelect()" style="width: 100%; padding: 10px;">
      <option *ngFor="let country of countries" [value]="country.id">{{ country.spanishName }}</option>
    </select>
  </div>
<hr>
  <div style="width: 80%; padding: 20px; display: flex; flex-direction: column; gap: 20px;">
    <div *ngIf="countryInfo; else loading">
      <!-- Nombre del país -->
      <h2>{{ countryInfo.spanishName }} ( {{ countryInfo.name }} )</h2>
>
      <div class="info-section">
        <p><strong>Población:</strong> {{ countryInfo.population | number:'1.0-0':'es-ES' }} habitantes</p>
        <p><strong>Superficie:</strong> {{ countryInfo.surface | number:'1.0-0':'es-ES' }} km²</p>
        <p><strong>Independencia:</strong> {{ countryInfo.independenceDay | date:'dd/MM/yyyy' }}</p>
      </div>

      <div class="info-section">
        <p><strong>Forma de Gobierno:</strong> {{ govermentInfo?.name }}</p>
        <p><strong>Idioma:</strong> {{ languageInfo?.name }}</p>
        <p><strong>Continente:</strong> {{ continentInfo?.name }}</p>
      </div>

      <div class="info-section">
        <p><strong>Himno:</strong> {{ anthemInfo?.motto }}</p>
        <audio *ngIf="anthemInfo?.content" [src]="anthemInfo?.content" controls>
          Tu navegador no soporta el reproductor de audio.
        </audio>
      </div>

      <div style="display: flex; gap: 30px; justify-content: space-between;">
        <div style="flex: 1;">
          <h4>Bandera</h4>
          <img #flagname [src]="getFlagImage(countryInfo.id)" alt="{{ countryInfo.name }} Flag" style="max-width: 100%; height: auto;">
        </div>

        <div style="flex: 1;">
          <h4>Mapa</h4>
          <img #mapname [src]="getMapImage(countryInfo.id)" alt="Mapa de {{ countryInfo.name }}" style="max-width: 100%; height: auto;">
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Cargando información...</p>
</ng-template>
